In [0]:
import numpy as np
import pandas as pd

In [0]:
movies = pd.read_csv("/content/drive/My Drive/datasets/movies.csv")
ratings = pd.read_csv("/content/drive/My Drive/datasets/ratings.csv")

In [3]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [4]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
ratings.isnull().values.any()

False

In [6]:
len(ratings)

100836

In [7]:
print(len(ratings.userId.unique()))
print(len(ratings.movieId.unique()))

610
9724

In [0]:
listOfDictonaries=[]
indexMap = {}
reverseIndexMap = {}
ptr=0;
test = ratings
test=test[['userId','rating']].groupby(test['movieId']) 


for groupKey in test.groups.keys():
    tempDict={}

    group = test.get_group(groupKey)   

    for i in range(0,len(group)):
        tempDict[group.iloc[i,0]]=group.iloc[i,1]
    indexMap[ptr]=groupKey                
    reverseIndexMap[groupKey] = ptr       
    ptr=ptr+1
    listOfDictonaries.append(tempDict)

In [0]:
from sklearn.feature_extraction import DictVectorizer
dictVectorizer = DictVectorizer(sparse=True)
vector = dictVectorizer.fit_transform(listOfDictonaries)

In [10]:
from sklearn.metrics.pairwise import cosine_similarity
pairwiseSimilarity = cosine_similarity(vector)
print(pairwiseSimilarity)

[[1.         0.41056206 0.2969169  ... 0.         0.         0.        ]
 [0.41056206 1.         0.28243799 ... 0.         0.         0.        ]
 [0.2969169  0.28243799 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         1.         0.        ]
 [0.         0.         0.         ... 1.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [0]:
def moviedetails(movie_id):
    print("Title:", movies[movies['movieId']==movie_id]['title'].values[0])
    print("Genres:",movies[movies['movieId']==movie_id]['genres'].values[0])
    print("Printing Movie-ID:",movie_id)
    print("-"*40)


def topRecommandations(movie_id):
    row = reverseIndexMap[movie_id]
    print("------Movie entered--------")
    moviedetails(movie_id)
    print("-------Recommendations----------")

    similarMovieIDs = [moviedetails(indexMap[i]) for i in np.argsort(pairwiseSimilarity[row])[-7:-2][::-1]]

In [13]:
topRecommandations(8)

------Movie entered--------
Title: Tom and Huck (1995)
Genres: Adventure|Children
Printing Movie-ID: 8
----------------------------------------
-------Recommendations----------
Title: Jury Duty (1995)
Genres: Comedy
Printing Movie-ID: 174
----------------------------------------
Title: Next Karate Kid, The (1994)
Genres: Action|Children|Romance
Printing Movie-ID: 502
----------------------------------------
Title: Babysitter, The (1995)
Genres: Drama|Thriller
Printing Movie-ID: 217
----------------------------------------
Title: Son in Law (1993)
Genres: Comedy|Drama|Romance
Printing Movie-ID: 542
----------------------------------------
Title: Lassie (1994)
Genres: Adventure|Children
Printing Movie-ID: 484
----------------------------------------